.imagen{
    background-color: none;
    display: block;
    align-self: center;
    text-align: center;
    justify-self: center;
    padding: 10px 15px;
    margin: 0;
    filter: grayscale(1);
}

.tiempo:hover {
    margin: 0;
    transition: 1s;
    font-size: 25px;
    filter: brightness(115%);
    filter: none;
}